#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config SYSTEM_REGMAP
	tristate "registers load/store tool"
	default n
	---help---
		tools for load/store devices' registers in a batch run.
